.card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-light);
  padding: 1rem;
  border-radius: .5rem;
  height: 4rem;
  /* border: 1px solid var(--border-muted); */
}

span.active {
  color: rgb(19, 238, 19);
  font-weight: bold;
}

.user-details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
}

