
.key {
  flex:1;
  border: 1px solid var(--bg);
  border-radius: 0  0 1rem 1rem;
  margin-right: 0.05rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

h2 {
  color: var(--bg)
}



.white-key {
  background-color: var(--text);
  z-index: 50;
  position: relative;
}

.white-key:hover {
  background-color: var(--text-muted);
}

.black-key:hover {
  background-color: var(--bg-light);
}

.black-key {
  transform: translateX(50%);
  z-index: 100;
  background-color: var(--bg);
  position: relative;
}